<div class="page">
  <section class="page_vertical_section">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        
        <div class="carousel-item c-item active">
          <img 
            src="./../assets/poli.jpeg" 
            class="d-block w-100 c-img c-img-focus-center" 
            alt="dsaf">
        </div>
        <div class="carousel-item c-item">
          <img src="./../assets/holi.jpeg" class="d-block w-100 c-img c-img-focus-center" alt="dsaf">
        </div>

        <div class="carousel-item c-item">
          <img src="./../assets/swathi.jpeg" class="d-block w-100 c-img c-img-focus-left-or-top" alt="dsaf">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
    
  
    <section class="page_vertical_section">
      <!-- <ul>
        <li>lskdjfldsjf</li>
        <li>lskdjfldsjf</li>
      </ul> -->
      <div class="offerings">

        <div class="note">
          <p>Thanks for visiting <strong>Om Rama Studio</strong> website.</p>
          <p>We are currently building our brand new website.</p>
          <p>- Raj Vadla</p>
        </div>

      </div>
    </section>

    <section class="page_vertical_section">
      <div class="offerings">
        <div class="note">
          <p>Contact us at <strong>omramastudio2.0 @gmail.com</strong></p>
        </div>
      </div>
    </section>

</div>