.page {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  
}

.page_vertical_section {
  height: 100%;  // 100% of parent (which is section)
  scroll-snap-align: start;
}

.carousel, .carousel-inner {
  height: 100%;
}


.c-item {
  height: 100%;
  position: relative;
  background: rgba(50, 45, 45, 0.9);
}

.c-img {
  height: 100%;
  width: auto;
  position: absolute;
  // align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; // user no more can drag, hover images
  
  
  object-fit: cover;
  // object-position: left top;


  animation: blur 10s ease 0s;
  -webkit-animation: blur 10s ease 0s;
  -moz-animation: blur 10s ease 0s;
  -o-animation: blur 10s ease 0s;
  

}


.c-img-focus-center {
  object-position: center center;
}

.c-img-focus-left-or-top {
  object-position: left top;
}

.c-img-focus-right-or-bottom {
  object-position: right bottom;
}



@keyframes blur {
  0% {
    // opacity: 0.5;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: grayscale(1) brightness(0.5);

  }
  
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);

    filter: grayscale(0) brightness(1);
  }
  
}



.offerings {
  width: 100%;
  height: 100%;
  text-align: center;
  // margin: 0;
  position: relative;
}

.note {
  background: orange;
  padding: 10px;
  width: 200px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px; // (-1)*height/2   0  0   (-1)*width/2
}

.contact-us {
  text-align: center;
  // margin: 0;
  padding: 100px;
  transform: translateY(50%);
}


